[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "site/themes/book"]
	path = site/themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "site/themes/cupper-hugo-theme"]
	path = site/themes/cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
